{% extends "base.twig" %}

{% block content %}
<div class="container">

	{% for post in projects %}
	<div class="article-test">
		{{post.title}}
		{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
	</div>
	{% endfor %}
</div>
{% endblock %}
