{% extends "tease.twig" %}

{% block content %}
<a class="" href="{{post.link}}">
	<div class="project-teaser">
			<img class="project-teaser__thumb" src="{{TimberImage(post.project_thumb).src}}"/>
		  <div class="project-teaser__title">{{post.title}}</div>
	</div>
</a>

{% endblock %}
