{% extends "tease.twig" %}

{% block content %}
	<div class="project-title">
		<a class="strike" href="{{post.link}}">
		   {{post.title}}
		   <span style="background: {{ post.get_field('streak_color') }}"></span>
		</a>
	</div>

{% endblock %}
